<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"/>
    <pages/>
  </system.web>
<system.webServer>
  
    <!-- 设定网站服务器以指定预设兼容性模式 Lionden -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, sessionId" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,PUT,DELETE,OPTIONS" />   
      </customHeaders>
    </httpProtocol>
<modules>
         <remove name="WebDAVModule" />
     </modules>
     <handlers>
         <remove name="WebDAV" />
     </handlers>
  
  </system.webServer>
</configuration>