<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="padding: 2px 10px 0px 0px; font-size:26px;" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                {{'PROPERTY.ASSIGNMENT.TITLE' | translate:property}}
                <!--<h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>-->
            </div>
            <div class="modal-body" style="padding: 5px 20px 5px 20px;">
            
            	<div class="row row-no-gutter" style="margin-left: 0px; margin-right: 0px;">
            		<div class="form-group">
            			<label for="assigneeField">{{'PROPERTY.ASSIGNMENT.ASSIGNEE' | translate}}</label>
                        <div style="display:flex; margin-bottom: 5px;">
            			    <input type="text" id="assigneeField" class="form-control" ng-model="assignment.assignee" placeholder="{{'PROPERTY.ASSIGNMENT.ASSIGNEE_PLACEHOLDER' | translate}}" />
            	          	<i class="glyphicon glyphicon-minus clickable-property" style="margin-left:5px; padding-top: 8px; color:#ffffff;"></i>
            	          	<i class="glyphicon glyphicon-plus clickable-property" style="margin-left:5px; padding-top: 8px; color:#ffffff;"></i>
            		    </div>
            		</div>
            	</div>
            	
                <div class="row row-no-gutter" style="margin-left: 0px; margin-right: 0px;">
                    <div class="form-group">
                    	<label for="userField">{{'PROPERTY.ASSIGNMENT.CANDIDATE_USERS' | translate}}</label>
                        <div ng-repeat="candidateUser in assignment.candidateUsers" style="display:flex; margin-bottom: 5px;">
            	            <input id="userField" class="form-control" type="text" ng-model="candidateUser.value" />
            	            <i class="glyphicon glyphicon-minus clickable-property" style="margin-left:5px; padding-top: 8px; color:#1E9FFF;" ng-click="removeCandidateUserValue($index)"></i>
            	            <!--<i class="glyphicon glyphicon-plus clickable-property" style="margin-left:5px; padding-top: 8px; color:#1E9FFF;" ng-click="addCandidateUserValue($index)"></i>-->
            	            <i ng-if="$index == (assignment.candidateUsers.length - 1)" class="glyphicon glyphicon-plus clickable-property" style="margin-left:5px; padding-top: 8px;" ng-click="addCandidateUserValue($index)"></i>
                        </div>
                   	</div>
            
                    <div class="form-group">
                    	<label for="groupField">{{'PROPERTY.ASSIGNMENT.CANDIDATE_GROUPS' | translate}}</label>
                        <div ng-repeat="candidateGroup in assignment.candidateGroups" style="display:flex; margin-bottom: 5px;">
            	          	<input id="groupField" class="form-control" type="text" ng-model="candidateGroup.value" />
            	          	<i class="glyphicon glyphicon-minus clickable-property" style="margin-left:5px; padding-top: 8px; color:#1E9FFF;" ng-click="removeCandidateGroupValue($index)"></i>
            	          	<!--<i class="glyphicon glyphicon-plus clickable-property" style="margin-left:5px; padding-top: 8px; color:#1E9FFF;" ng-click="addCandidateGroupValue($index)"></i>-->
            	          	<i ng-if="$index == (assignment.candidateGroups.length - 1)" class="glyphicon glyphicon-plus clickable-property" style="margin-left:5px; padding-top: 8px; color:#1E9FFF;" ng-click="addCandidateGroupValue($index)"></i>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer" style="margin-top:0px; padding: 10px 15px 10px;">
                <button ng-click="close()" class="btn btn-primary  btn-hw-cancel" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary btn-hw" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>