
<div ng-controller="KisBpmStringPropertyCtrl">
<!--    <input type="text" ng-model="property.value"
        style ="height:12px padding: 0px 0px;" 
           ng-blur="inputBlurred()"
           ng-keypress="enterPressed($event)"/>-->
    
    <input type="text" ng-model="property.value"
           style="height:16px; font-size: 12px; border-style:solid; border-width:1px; border-color:#ababab;" 
           ng-blur="inputBlurred()"
           ng-keypress="enterPressed($event)"/>
    
<!--    <input type="text" ng-model="property.value"
           style="font-size: 12px; border-style:solid; border-width:1px; border-color:#ababab;" 
           auto-focus
           ng-blur="inputBlurred()"
           ng-keypress="enterPressed($event)"/>-->
<!--    <input type="text" ng-model="property.value"
    	   class="form-control" 
           auto-focus
           ng-blur="inputBlurred()"
           ng-keypress="enterPressed($event)"/>-->
</div>